<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NutshellRepo</title>    
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/Site/css/LayoutStyle.css" rel="stylesheet" />
</head>

<body>
    <div id="wholePageDiv">







        <div class="container" id="bodyDiv">
            <main role="main" class="pb-3" id="body">
                @RenderBody()
            </main>
        </div>




        <footer class="bottom font-small blue footer-links">
            
            <div class="container text-center text-md-left footerLinksContainer">

                <div class="row">

                    <div class="col-md-6 mt-md-0 mt-2">

                        <h5 class="text-uppercase mt-3">In Development</h5>
                        <p>These are the early stages of the project.</p>

                    </div>                  

                    <hr class="clearfix w-100 d-md-none pb-3">
                   
                    <div class="col-md-3 mb-md-0 mb-3 borderLeft">
                        
                        <h5 class="text-uppercase mt-3">Navigation</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a class="text-info" asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
                            </li>
                            <li>
                                <a class="text-info" href="#!">Link 2</a>
                            </li>
                            <li>
                                <a class="text-info" href="#!">Link 3</a>
                            </li>
                            <li>
                                <a class="text-info" href="#!">Link 4</a>
                            </li>
                        </ul>

                    </div>
                    
                    <div class="col-md-3 mb-md-0 mb-3 borderLeft">
                                               
                        <h5 class="text-uppercase mt-3">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a class="text-info" href="#!">Link 1</a>
                            </li>
                            <li>
                                <a class="text-info" href="#!">Link 2</a>
                            </li>
                            <li>
                                <a class="text-info" href="#!">Link 3</a>
                            </li>
                            <li>
                                <a class="text-info" href="#!">Link 4</a>
                            </li>
                        </ul>

                    </div>
                   
                </div>
               
            </div>            
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                &copy; 2019 - StudyLogBook - <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            

        </footer>

    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>    
    @*Add here when needed shared js*@
    @RenderSection("Scripts", required: false)

</body>
</html>
