
@{
    ViewData["Title"] = "Error";
}

<div class="media mt-4 border border-secondary rounded-top rounded-lg p-2 pb-0" style="width:100%">
    <div class="media-body">

        <img class="float-left mr-3" src="~/Site/images/Errors/schoolBell.svg" alt="alert_img" height="128" width="128">
        <h3 class="mt-2">@ViewBag.ErrorMessage</h3>

    </div>
</div>