@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="mt-4 border border-secondary rounded-lg p-2 pb-0">

    <div class="confirmationText" id="thankEmailDiv">
        <br />
        <h3>Email already confirmed.</h3>
        <br />
        <br /><br />
        <div class="text-center">You Make this resource beloved by the day!</div>
        <br />
        <a asp-controller="home" asp-action="index" class="btn btn-info btns homePageBtn" id="homeBtn">Home Page</a>
    </div>

</div>

@section Scripts
{
    <link href="~/Site/css/Register.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                document.getElementById("homeBtn").click();                
            }, 5000);
        });
    </script>

}