@model NutshellRepo.ViewModels.AccountRegisterViewModel

@{
    ViewData["Title"] = "Register User";
}

@*Register*@

    

    <div class="flex-container">

        <div id="registrationText">
            <br/>
            <h2>Register New Account</h2>
            <br/>
            Sign Up to Become a Member and start submiting your idea in a Nutshell!
            Please be concise and write straight to the point.<br/>You Make this resource beloved by the day!
            <br/>

            <div class="pt-3">                
                <button class="btn btn-info btns">Rules</button>
                <button class="btn btn-info btns">Guides</button>
            </div>
        </div>


        <form asp-controller="account" asp-action="register" id="registerDiv">       

            <div class="form-group myInputGroup">
                <label asp-for="UserName" class="control-label "></label>
                <input asp-for="UserName" class="form-control myInputField" placeholder="User Name is Public" />
                <div><span asp-validation-for="UserName" class="text-danger"></span></div>
            </div>

            <div class="form-group myInputGroup">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control myInputField" />
                <span id="mailPrereq">Make sure you have access to the email.</span>
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>

            <div class="form-group myInputGroup">
                <label asp-for="ConfirmEmail" class="control-label"></label>
                <input asp-for="ConfirmEmail" class="form-control myInputField" />
                <span asp-validation-for="ConfirmEmail" class="text-danger"></span>

            </div>

            <div class="form-group myInputGroup">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control myInputField" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>

            <div class="form-group myInputGroup">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control myInputField" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div asp-validation-summary="All" class="text-danger" id="registerFormValidationText"></div>

            <div class="form-group mb-0">
                <input type="submit" value="Register" class="btn btn-info" id="registerBtn" />
            </div>

        </form>

    </div>



@section Scripts
{
    @*@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }*@
    <link href="~/Site/css/Register.css" rel="stylesheet" />

}